/* General styles */


/*  */
.thumbnail {
    width: 300px;
}

.search-bar {
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}