/* General */
div {
    font-family: Arial;
  }

/* Exercise 12 f */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #624894;
    color: white;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

 .left-section {
    font-weight: 700;
}

.search-bar {
    width: 600px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}

.download-btn {
    background-color: #624894;
    color: white;
    font-size: 24px;
    border: solid white 1px;
    border-radius: 2px;
    padding: 8px 15px;
}



/* Exercise 12 e */
.container {
    border: solid rgba(96, 96, 96, 0.3) 2px;
    border-radius: 8px;
    width: 500px;
    margin-bottom: 50px;
}

.menu-row-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 15px;
}

.notification-cnt {
    background-color: rgb(49, 109, 245);
    color: white;
    font-weight: 700;
    border-radius: 17px;
    padding: 5px 15px;
}



/* Exercise 12 g */
.follow-container {
    --my-font-size: 22px;
    width: 600px;
    border: solid rgba(96, 96, 96, 0.3) 2px;
    padding: 12px 12px 0px 12px;
}

.follow-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    
}

.follow-img {
    width: 75px;
    height: 75px;
    border-radius: 37px;
    object-fit: cover;
    object-position: 70%;
    
}

.follow-info {
    flex: 1;
    margin-left: 14px;
}

.follow-name {
    font-weight: 700;
    font-size: var(--my-font-size);
}

.follow-description {
    padding: 6px 0px;
}

.follow-description,
.follow-popularity {
    color: rgb(96, 96, 96);
    font-size: var(--my-font-size);
}

.follow-btn {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: var(--my-font-size);
    padding: 14px;
    cursor: pointer;
}